.containerKata1 {
  width: 70vw;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 16px;
}

.rulesKata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.topRulesKata {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  text-decoration: underline;
  margin-left: 50%;
}

.level {
  font-size: 32px;
  color: yellow;
  text-shadow: 0 0 2px rgb(0, 0, 0);
  margin-right: 10%;
}

.textRulesKata {
  display: flex;
  justify-content: center;
  margin: 16px;
  padding: 8px;
}
